@media (max-width: 1200px) {
    .container {
        max-width: 720px;
    }

    .carousel {
        .prev {
            left: -50px;
        }
        .next {
            right: -50px;
        }
    }
    .footer {
        &__info {
            width: 400px;
            height: 250px;
            padding: 30px 48px 30px 48px;
        }
    }
}

@media (max-width: 991px) {
    .promo {
        padding: 21px 0 25px 0;
        background: url(../img/main.jpg) top left -120px / cover no-repeat;
        &__wrapper {
            margin-top: 60px;
        }

        &__header {
            font-size: 36px;
        }

        &__subheader {
            font-size: 20px;
        }

        &__icons {
            margin-top: 45px;
        }
    }

    .advantages {
        &__block {
            max-width: 205px;
    }
}

    .consultation {
        padding-left: 30px;
        &__descr {
            font-size: 17px;
        }
    }

    .carousel {
        .prev, .next {
            display: none;
        }
    }

    .catalog {
        padding-bottom: 60px;
        &-item {
            margin: 0 auto 20px auto;
            max-width
            &__old-price {
                font-size: 12px;
            }
            &__price {
                font-size: 18px;
            }
    }
    .button_mini {
        width: 111px;
        height: 35px;
    }
}

    .title_left {
        font-size: 30px;
    }
    .footer {
        &__info {
            width: 350px;
            height: 200px;
            padding: 25px 38px 25px 38px;
        }
        &__addr {
            margin-bottom: 25px;
            font-size: 16px;
        }
        &__phone {
            margin-bottom: 25px;
            font-size: 16px;
        }
        &__social-item {
            width: 40px;
            height: 40px;
        }
        .icon {
            &_facebook {
                width: 12px;
            }
            &_instagram {
                width: 21px;
            }
            &_pinterest {
                width: 20px;
            }
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__logo {
            width: 195px;
        }
        &__official {
            position: absolute;
            bottom: 130px;
        }
    }

    .container {
        max-width: 530px;
        margin: 0 10px;
    }

    .modal {
        width: 340px;
        padding: 28px 26px 30px 31px;
        &__subtitle {
            font-size: 16px;
        }
    }
    
    .promo {
        min-height: 540px;
        &__wrapper {
            margin-top: 40px;
        }
        &__header{
            font-size: 24px;
        }
        &__subheader {
            font-size: 12px;
            margin-top: 0;
        }
        &__icons {
            width: 300px;
            margin-top: 25px;
        }
        &__icon {
            width: 90px;
            font-size: 10px;
        }
    }

    .advantages {
        padding: 40px 0 48px 0;
        &__blocks {
            margin-top: 35px;
            flex-direction: column;
            align-items: center;
        }
        &__block {
            max-width: 90%;
            margin-bottom: 20px;
        }
        &__subheader {
            margin-top: 15px;
        }
        &__descr {
            margin-top: 20px;
        }
    }

    .title_left {
        font-size: 25px;
    }

    .consultation {
        padding-top: 50px;
        &__descr {
            font-size: 15px;
        }
    }
        
    .feed-form {
        width: 265px;
        input {
            height: 40px;
        }
    }

    .button_submit {
        height: 50px;
    }
    .carousel{
        .tns-slide-active {
            margin: 0 2px;
        }
    }

    .catalog {
        &__tab {
            max-width: 25%;
            font-size: 15px;
        }
        .button_mini {
            width: 150px;
            height: 45px;
            font-size: 15px;
        }
    }

    .feed {
        &__item {
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            &:nth-child(2) {
                margin-top: 50px;
            }
        }
        &__text {
            padding: 0 30px;
            text-align: center;
            margin-top: 20px;
        }
        &__img {
            margin-right: 0;
        }
    }
    .footer {
        &__info {
            width: 250px;
            height: 150px;
            padding: 25px 20px 15px 20px;
        }
        &__addr {
            margin-bottom: 10px;
            font-size: 12px;
        }
        &__phone {
            margin-bottom: 15px;
            font-size: 12px;
        }
        &__social-item {
            width: 30px;
            height: 30px;
        }
        .icon {
            &_facebook {
                width: 10px;
            }
            &_instagram {
                width: 12px;
            }
            &_pinterest {
                width: 12px;
            }
        }
    }
}

@media (max-width: 575px) {
    .header{
        &__official {
            display: none;
        }
        &__contacts {
            align-items: center;
        }
        &__phone {
            font-size: 14px;
        }
    }

    .modal {
        width: 95%;
        margin: 10px auto;
        &__close {
                right: 10px;
                top: 10px;
        }
    }

    .promo {
        &__link {
            font-size: 14px;
        }
    }

    .button{
        &_main {
            width: 240px;
            height: 40px;
            font-size: 13px;
        }
    }

    .title {
            font-size: 25px;
        }
    
    .consultation {
        &__descr {
            font-size: 13px;
        }
    }

    .title_left {
        font-size: 20px;
    }

    .catalog {
        &__tab {
            font-size: 10px;
        }
    }
}

@media (max-width: 420px) {
    .header {
        flex-direction: column;
        &__contacts {
            margin-top: 15px;
        }
    }

    .promo {
        &__wrapper {
            align-items: center;
            margin-top: 20px;
        }
        &__header {
            font-size: 20px;
        }
        &__subheader {
            font-size: 10px;
        }
        &__icons {
            width: 100%;
        }
    }

    .advantages {
        &__descr {
            font-size: 12px;
        }
    }

    .title {
        font-size: 16px;
    }

    .button_main {
        width: 70%;
    }

    .button_submit {
        font-size: 13px;
    }

    .feed {
        &-form {
            width: 90%;
            &_popup {
                input {
                    height: 35px;
                }
            }
        }
    }   

    .catalog {
        padding-bottom: 30px;
        &__tabs {
            flex-wrap: wrap;
            margin-top: 25px;
        }
        &__tab {
            max-width: 55%;
            margin-bottom: 10px;
            height: 35px;
            line-height: 33px;
        }

        &__content {
            margin-top: 25px;
        }
        &-item {
            width: 250px;
            &__content {
                transform: translateX(-110%);
                &_active {
                    transform: translateX(0%);
                }
            }
            img {
                max-width: 50%;
                height: auto;
            }
            &__old-price {
                font-size: 12px;
            }
            &__price {
                font-size: 16px;
            }
            hr {
                margin-top: 10px;
                margin-bottom: 15px;
            }
        }

        .button_mini {
            width: 100px;
        }
    }

    .feed {
        &__item {
            &:nth-child(2) {
                margin-top: 30px;
            }
        }
        &__descr {
            font-size: 13px;
        }
    }

    .footer {
        &__info {
            display: none;
        }
    }
}