
.advantages {
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;
    &__blocks {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__block {
        max-width: 238px;
        text-align: center;
    }
    &__subheader {
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        color: #0d0d0d;
        margin-top: 38px;
    }

    &__descr {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2;
        color: #0d0d0d;
        margin-top: 26px;
        a {
            color: #ff0000;
            font-size: 14px;
            text-decoration: underline;
        }
    }
}